<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .a{
            width: 500px;
            height: 300px;
            margin: 0 auto;
            background: skyblue;
            position: relative;
            overflow-wrap: break-word;
            overflow: hidden;
        }
        .a img{
            display: block;
            width: 100px;
            height: 50px;
            /* position: absolute; */
            float: right;
            top: 0;
            right: 0;
        }
    </style>
</head>
<body>
    



    <div class="a">
        <img src="../assets/add.png" alt="">
        sakldhudafgjshfjkfakhasjkfhjdksalhfjdkashfjkdlsakdlhsajkfhjdsklahfjkdhlsajkflhjdksahfjkshajkfda萨达后HDSJKAHJDS AH大健康华接口返回尽快回复健康第三方大街上开发大厦积分活动时间咖啡壶角度看撒的看法和见色卡号接口黄金卡返回角度看撒返回丹江口
        <!-- <div></div> -->
    </div>

    <script>
    
    </script>
</body>
</html>